:root {
  --black: hsl(0, 0%, 10%);
  --dark: hsl(0, 0%, 20%);
  --gray: hsl(0, 0%, 60%);
  --grayish: hsl(0, 0%, 75%);
  --lightGray: hsl(0, 0%, 90%);
  --lighterGray: hsl(0, 0%, 97%);
  --green: hsl(159, 100%, 31%);
  --navGreen: hsla(159, 100.00%, 31.00%, 0.92);
  --lighterGreen: hsl(156, 17%, 94%);
  --lighterGold: hsl(60, 22%, 64%);
  --lighterBlue: hsl(215, 100%, 98%);
  --white: hsl(0, 0%, 100%);


  --color1: hsl(193, 100%, 33%);
  --color2: hsl(48, 38%, 95%);
  --color3: hsl(190, 36%, 83%);
  --color4: hsl(193, 37%, 65%);
}