@use '../util' as u;

.resume {
  
  background-color: var(--white);
  text-align: center;
  

  &__main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    


    @include u.breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      text-align: left;
      
    }
  }

  &__content {
    padding-top: 2rem;
    padding-left: 1rem;
    
    @include u.breakpoint(medium) {
      border-left: 0.2rem solid var(--green);
    }

  }
}