@use '../util' as b;
.testimonials {

  
  &__user {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    @include b.breakpoint(medium) {
      margin-bottom: 2rem;
    }
  }

  &__img {
    border-radius: 50%;
    width: 25%;
  }

  &__sub-heading{
    flex: 2;
  }

  &__contents {

    display: flex;
    flex-direction: column;
    row-gap: 5rem;


    @include b.breakpoint(medium) {
      flex-direction: row;
      row-gap: 0;
      column-gap: 5rem;
    }
  }

  &__name {
    margin-bottom: 0;
  }

  &__svg{
    color: var(--green);
  }

  
}